{% extends "layout.html" %}

{% block title %}
    Change USERNAME
{% endblock %}

{% block main %}
    <div class="form-group">
             <input class="form-control" name="oldname" placeholder="Old Username" type="text">
            <br>
            <br>
            <input class="form-control" name="newname" placeholder="New Username" type="text">
            <br>
            <br>
            <input class="form-control" name="c_newname" placeholder="Confirm New Name" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Change Password</button>
    </form>
{% endblock %}
