{% extends "layout.html" %}

{% block title %}
    Change PW
{% endblock %}

{% block main %}
    <div class="form-group">
             <input class="form-control" name="oldpw" placeholder="Old Password" type="password">
            <br>
            <br>
            <input class="form-control" name="newpw" placeholder="New Password" type="password">
            <br>
            <br>
            <input class="form-control" name="c_newpw" placeholder="Confirm New Password" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Change Password</button>
    </form>
{% endblock %}
