{% extends "layout.html" %}

{% block title %}
    POMODORO
{% endblock %}

{% block main %}

 <h1 class="display__time-left">25:00</h1>
    <div class="control_buttons">
      <button class="btn btn-success"  data-action="start">
        Start
      </button>

      <button class="btn btn-success"  data-action="stop">
        Restart
      </button>
    </div>
    <div class="table-flex">
      <table class="mdl-data-table mdl-js-data-table control_table mdl-shadow--2dp" style="width:100%;">
        <thead>
          <tr >
            <th class="mdl-data-table__cell--non-numeric">Start Time</th>
            <th class="mdl-data-table__cell--non-numeric">End Time</th>
            <th class="mdl-data-table__cell--non-numeric">Type</th>
            <th class="mdl-data-table__cell--non-numeric">Was it good?</th>
          </tr>
        </thead>
        <tbody class="table-body">
        </tbody>
      </table>
    </div>

    <div class="control_buttons">
      <button class="btn btn-success"  data-action="reset">
        Reset
      </button>
    </div>

    <div class="is-hidden modal-overlay">
      <div class="modal">
        <h2 class="modal_question">How was your pomodoro?</h2>
        <div class="modal_buttons">
          <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" data-productive="true">
            Productive
          </button>
          <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" data-productive="false">
            Not really productive
          </button>
        </div>
      </div>
    </div>

    <audio id="end_sound" src="sound.wav"></audio>

<script>
  let countdown;
const timerDisplay = document.querySelector('.display__time-left');
const startTimeBtn = document.querySelector('[data-action="start"]');
const restartTimeBtn = document.querySelector('[data-action="stop"]');
const resetLocalStorageBtn = document.querySelector('[data-action="reset"]');
const endSound = document.querySelector('#end_sound');
const tableBody = document.querySelector('.table-body');
const modal = document.querySelector('.modal-overlay');
const modalButtons = modal.querySelectorAll('[data-productive]');
const entries = JSON.parse(localStorage.getItem('entries')) || [];
let notificationPermission = false;
let now;
let then;

function displayTimeLeft(seconds) {
  const minutes = Math.floor(seconds / 60);
  const remainderSeconds = seconds % 60;
  const display = `${minutes}:${remainderSeconds < 10 ? '0' : ''}${remainderSeconds}`;
  timerDisplay.textContent = display;
}

function playAudio() {
  const sound = new Audio(endSound.src);
  sound.play();
}

function displayNotification(notificationText) {
  if (!notificationPermission) return;
  const notification = new Notification(notificationText, {
    icon: 'stopwatch.png',
    body: 'Was Pomodoro good?',
  });

  notification.addEventListener('click', () => {
    window.focus();
  });
}

function makeBreak(hasBreak) {
  if (hasBreak) {
    timer(300, false);
  }
}

function extractHoursMinutes(date) {
  const fullDate = new Date(date);
  return `${fullDate.getHours()}:${fullDate.getMinutes()}`;
}

function saveTimeEntryToLocalStorage(startSeconds, endSeconds, type, wasGood) {
  const startTime = extractHoursMinutes(startSeconds);
  const endTime = extractHoursMinutes(endSeconds);

  const entry = {
    startTime,
    endTime,
    type,
    wasGood,
  };
  entries.push(entry);
  localStorage.setItem('entries', JSON.stringify(entries));
}

function retrieveTimeEntryFromLocalStorage() {
  tableBody.innerHTML = entries.map(entry => `
      <tr>
        <td class="mdl-data-table__cell--non-numeric">${entry.startTime}</td>
        <td class="mdl-data-table__cell--non-numeric">${entry.endTime}</td>
        <td class="mdl-data-table__cell--non-numeric">${entry.type}</td>
        <td class="mdl-data-table__cell--non-numeric">${JSON.parse(entry.wasGood) === true ? '✔' : '✖'}</td>
      </tr>
    `).join('');
}

function timer(seconds, hasBreakAfter = true) {
  now = Date.now();
  then = now + (seconds * 1000);
  displayTimeLeft(seconds);

  countdown = setInterval(() => {
    const secondsLeft = Math.round((then - Date.now()) / 1000);

    if (secondsLeft < 0) {
      clearInterval(countdown);
      playAudio();
      displayNotification(hasBreakAfter ? 'Time to rest dude!' : 'Time to work dude!');
      if (hasBreakAfter) modal.classList.remove('is-hidden');
      return;
    }

    displayTimeLeft(secondsLeft);
  }, 1000);
}

startTimeBtn.addEventListener('click', () => {
  if (countdown) return;
  timer(1500);
});

restartTimeBtn.addEventListener('click', () => {
  clearInterval(countdown);
  countdown = undefined;
  timerDisplay.textContent = '25:00';
});

resetLocalStorageBtn.addEventListener('click', () => {
  localStorage.clear();
  window.location.reload(true);
});

modalButtons.forEach((button) => {
  button.addEventListener('click', closeModal);
});

function closeModal(event) {
  modal.classList.add('is-hidden');
  saveTimeEntryToLocalStorage(now, then, 'Pomodoro', event.target.dataset.productive);
  retrieveTimeEntryFromLocalStorage();
  makeBreak(true);
}

Notification.requestPermission().then((result) => {
  if (result === 'granted') {
    notificationPermission = true;
  }
});

window.addEventListener('load', retrieveTimeEntryFromLocalStorage);

</script>
{% endblock %}
