nav .navbar-brand
{
    /* size for brand */
    font-size: xx-large;
}

.heading{
    text-indent: 50px;

color:palevioletred;
 font-family:arial;

}

.heading1{

     font-size:35px;
     text-decoration:underline overline;
     font-family:italic;
     color:indianred;
}

.button5
{background-color: teal;}
a{
  color: bisque;
  background-color: transparent;

}

.item
{  margin:left;
    color:teal;
}



/* colors for brand */
nav .navbar-brand .blue
{
    color:teal;
}
nav .navbar-brand .red
{
    color: firebrick;
}
nav .navbar-brand .yellow
{
    color: crimson;
}
nav .navbar-brand .green
{
    color: DarkSlateGray;
}

main .form-control
{
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: auto;
}

main
{
    /* scroll horizontally as needed */
    overflow-x: auto;

    /* center contents */
    text-align: center;
}

main img
{
    /* constrain images on small screens */
    max-width: 100%;
}
.body1{
    background-color: linen;

}

.head1{
     background-color: lightcoral;
}

.thought{
    font-size:20px;
     text-decoration:underline ;
     font-family:italic;
     color:indianred;
}

.border {
     border: 60px ;

     border-color:black;
    background-color:lightcoral;
border-radius: 10px;
 max-width: 100%;
}

.heading2{

color:rosybrown;
 font-family:arial;

}
.des{

    font-size:28px;
     text-decoration:underline ;
     font-family:italic;
     color:firebrick;
}
.smart{

color:firebrick;
 font-family:arial;
font-size:18px
}

.display__time-left {
  font-weight: 100;
  font-size: 20rem;
  margin: 0;
  color:firebrick;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.control_buttons {
  flex: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 50px;
}

.table-flex {
  display: flex;
  justify-content: center;
  padding: 50px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal {
  padding: 20px 30px;
  width: 70%;
  max-height: calc(100% - 150px);
  position: relative;
  min-height: 300px;
  margin: 5% auto 0;
  background: #FFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.is-hidden {
  display: none;
}

.modal .modal_question {
  flex: 2;
}

.modal_buttons {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex: 1;
}

.modal_buttons .mdl-button {
  margin-right: 10px;
}
